<% content_for :heading do %>
	<%= link_to 'Browse', root_path %>
	<%= link_to 'My Courses', my_courses_path %>
<% end %>

<h3>Welcome to CourseShopper!</h3>
<p>Browse by UvA courses by institute, and refine your search with a keyword.</p>

<script type="text/javascript">
function showResults() 
{
	var institute = document.getElementById("institute_selector").value;
	var keyword = document.getElementById("search-keyword").value;
	var searchString = ""
	
	if (keyword != "") {
		searchString = "?keyword=" + keyword;
	}
	
  window.location = "/institutes/" + institute + searchString;
}
</script>

<select id="institute_selector">
	<% @institutes.each do |institute| %>
		<option><%= institute.name%></option>
	<% end %>
</select>

<input type="search" name="search" id="search-keyword" placeholder="Search by keyword" />
<input type="submit" value ="Submit" onclick="showResults()" />