<% content_for :heading do %>
CourseShopper
<% end %>

<h3>Welcome to CourseShopper!</h3>
<p>Browse by UvA courses by institute, and refine your search with a keyword!</p>

<script type="text/javascript">
function showResults() 
{
	var institute = document.getElementById("institute_selector").value;
	var keyword = document.getElementById("search-keyword").value;
	var searchString = ""
	
	if (keyword != "") {
		searchString = "?keyword=" + keyword;
	}
	
  window.location = "/institutes/" + institute + searchString;
}
</script>

<select id="institute_selector">
	<% @courses.each do |course| %>
		<option><%= course.institute%></option>
	<% end %>
</select>

<input type="search" name="search" id="search-keyword" placeholder="Search by keyword" />
<input type="submit" value ="Submit" onclick="showResults()" />