<!DOCTYPE html>
<html>
<% content_for :heading do %>
CourseShopper
<% end %>


<script type="text/javascript">
function showResults() 
{
	var institute = document.getElementById("institute")
    window.location = "/institutes/" + institute.value
}
</script>


<p>
Institute: 
<select id="institute">
	<% courses = Course.select(:institute).uniq.order("institute") %>
	<% courses.each do |course| %>
		<option><%= course.institute%></option>
	<% end %>
</select>

<br>

<input type="submit" value ="Submit" onclick="showResults()">
</p>
</html>