<!DOCTYPE html>
<html>
<h1>Welcome to CourseShopper!</h1>

<script type="text/javascript">
function showResults() 
{
	var institute = document.getElementById("institute")
    window.location = "/courses/" + institute.value
}
</script>

<%= link_to 'Browse', root_path %> |
<%= link_to 'My Courses', my_courses_path %>
<p>
Institute: 
<select id="institute">
	<% courses = Course.select(:institute).uniq.order("institute") %>
	<% courses.each do |course| %>
		<option><%= course.institute%></option>
	<% end %>
</select>

<br>

<input type="submit" value ="Submit" onclick="showResults()">
</p>
</html>